html, body {
  font-family: 'foundersGroteskSemi', sans-serif;
  padding: 20;
  margin: 0;
  font-size: 21px;
  background-color:#358AFF;
}

canvas {
  display: block;
}

h1{
  color: black;
  font-size: 48px;
  font-family: 'foundersGroteskSemi', sans-serif;
  line-height: 1;
}
