<!DOCTYPE html>
<html>

<head>
  <script src="p5.min.js"></script>
  <script src="p5.dom.min.js"></script>
  <script src="p5.sound.min.js"></script>
  <script src="sketch.js"></script>
  <link rel="stylesheet" type="text/css" href="../style/batteryStyle.css">
  <script language="javascript" type="text/javascript" src="../js/libraries/p5.js"></script>
  <script language="javascript" type="text/javascript" src="../js/p5.serialport.js"></script>
  <meta charset="utf-8">
</head>

<style>
  @font-face {
    font-family: "foundersGroteskSemi";
    src: url("../fonts/FoundersGrotesk-Semibold.otf");
  }

  @font-face {
    font-family: "basisGrotesqueMono";
    src: url("../fonts/basis_grotesque_pro_mono.otf");
  }

  foundersGroteskSemi {
    font-family: "foundersGroteskSemi";
  }

  basisGrotesqueMono {
    font-family: "basisGrotesqueMono";
  }

  /* mouse over link */
  a:hover {
    color: yellow;
  }
</style>

<body>

  <!-- BATTERY ICON -->
  <div id="battery-icon">
    <img src="../img/batteryIcon_white.svg" alt="battery icon">
  </div>

  <!-- TEXT -->
  <div id="text">
    <div class="firstP">
      <p class="maintext"><span>It’s night time! Your house will now be powered using energy stored in the battery.</span></p>
      <!-- <p class="battery-text"> There’s no more sunlight.</p> <br> -->
    </div>

    <!-- <div class="hr">
      <hr>
    </div> -->

    <!-- <div class="secondP">
      <p class="maintext"><span> Your house will now be powered using energy stored in the battery.</span></p>
    </div> -->
  </div>

  <!-- READ MORE FOOTER -->
  <div class="secondarytext">
    <a href="../view/battery2.html">Read About Challenges</a>
  </div>


</body>

</html>
