html, body {
  margin: 0;
  background-color: #B3E6FF;
}

canvas {
  display: block;
}

#intro {
  padding-top: 10px;
  position: relative;
  display: inline-block;
  color: black;
  text-align: center;
}

#headline{
  font-family: 'foundersGroteskSemi', sans-serif;
  font-size:36px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav {
  display: inline-block;
  float: left;
}

p {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 50%;
  font-size: 21px;
  font-family: 'basisGrotesqueMono', monospace;
  color: black;
}
