<!DOCTYPE html>
<html>

<head>
  <script src="../js/p5.min.js"></script>
  <script src="../js/p5.dom.min.js"></script>
  <script src="../js/p5.sound.min.js"></script>
  <script src="../battery2.js"></script>
  <link rel="stylesheet" type="text/css" href="../style/batteryStyle.css">
  <script language="javascript" type="text/javascript" src="../js/libraries/p5.js"></script>
  <script language="javascript" type="text/javascript" src="../js/p5.serialport.js"></script>
  <meta charset="utf-8">
</head>

<style>
  @font-face {
    font-family: "foundersGroteskSemi";
    src: url("../fonts/FoundersGrotesk-Semibold.otf");
  }

  @font-face {
    font-family: "basisGrotesqueMono";
    src: url("../fonts/basis_grotesque_pro_mono.otf");
  }

  foundersGroteskSemi {
    font-family: "../foundersGroteskSemi";
  }

  basisGrotesqueMono {
    font-family: "../basisGrotesqueMono";
  }
</style>

<body>

  <!-- TEXT -->
  <div id="intro">
    <div id="img"><img src="../img/batteryCharge.gif" alt="battery charging"></div>
    <h1 id="headline">The excess energy is being stored in your battery for night time use.</h1>
</div>

</body>

</html>
